@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
   scroll-behavior: smooth;
}

.max_width{
   max-width: 1300px;
   padding: 0 80px;
   margin: auto;
}

/* Navbar Styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    background-color: #222; 
     background-image: radial-gradient(rgba(252, 9, 9, 0.308),rgb(7, 7, 7));
}


.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: brown;
    transition: all 0.3s ease;

}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;   
    margin-left: 25px;
    transition: color 0.3s ease;
}



/* App logo rotation */
.App-logo{
    animation: App-logo-rotation 2s infinite linear;
    height: 300px;
    position: absolute;
    align-self: auto;
    margin-left: 400px;
    z-index: 20;
    opacity: 0.3;
    
}

.App-logo {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


/* Home Section Styling */
.home{
    display: flex;
    background: url(/images/v748-toon-131.jpg) no-repeat center;
    height: 50vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Poppins', sans-serif;

}


.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 27px;
}

.home .home-content .text-3{
    font-size: 70px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-4{
    font-size: 27px;
}



/* Similar Style Coding */


section{
    padding: 100px 0;
}

.about, .services{
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
 .services .serv-content,
 .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* padding: 5px; */
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}


/* About section styling */

.about{
    background: url(/images/pexels-johannes-plenio-1103970.jpg) no-repeat center;
}


.about .about-content{
    display: flex;
    min-height: 150px;
    /* max-height: auto; */
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about .about-content .text{
    font-size: 17px;
    font-weight: 550;
    /* margin-bottom: 10px; */
    text-align: center;
}

.about .about-content .text p{
    font-size: 17px;
    font-weight: 300;
    /* margin-bottom: 10px; */
}



/* Services section styling */

.services{
    background: url(/images/pexels-lisa-1031641.jpg) no-repeat center;
    color: #fff;
}

.services .title{
    font-weight: 600;
}

.services .serv-content{
    display: flex;
    min-height: 150px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services .serv-content .text{
    font-size: 17px;
    text-align: center;
}

.services .serv-content .line{
    height: 5px;
    background-color: rgb(53, 65, 73);
    width: 90%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.services .serv-content .head{
    font-size: 20px;
    font-weight: 300;
}

.head_text{
    font-size: 15px;
}



.services .serv-content .circle{
    justify-content: center;
    align-items: center;
    display: flex;
    width:200px;
    height:200px;
    border-radius: 1000px;
    overflow: hidden;
    /* height: auto; */
    background-color: rgba(43, 57, 66, 0.2);
  }

.services .serv-content .do{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .services .serv-content .circleImg{
    max-width:170px;
    max-height:170px;
    width: auto;
    height: auto;
  }
  
  
  .services .serv-content .Pictures{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }


  /* Contact us Section */

  .contact{
    background: url(/images/v748-toon-131.jpg) no-repeat center;
    color: #fff;
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: crimson; 
    
}

.contact .contact-content .text{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.contact .contact-content .info .head{
    font-weight: 600;
}

.contact .contact-content .info .sub-title{
    color: #fff;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
height: 45px;
width: 100%;
margin-bottom: 15px;
}

.contact .right form .textarea{
    height: 80px;
    width: 100%;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
}


.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 170px;
}

.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid ;
    background-color: #222; 
    background-image: radial-gradient(rgba(252, 9, 9, 0.308),rgb(7, 7, 7));;
    
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover{
    color: crimson;
    background: none;
}